.trackDetailsStyled {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  color: #fff;
  font-size: 2rem;

  .trackTitle {
    font-size: 3rem;
  }

  .trackArtist {
    font-size: 2.5rem;
    color: #ccc;
  }

  .trackAlbum {
    font-size: 2rem;
    color: #ccc;
  }

  @media screen and (max-width: 841px) {
    .trackTitle {
      font-size: 2rem;
    }

    .trackArtist {
      font-size: 1.5rem;
    }
    .trackAlbum {
      font-size: 1rem;
    }
  }
}
