.trackScrubberStyled {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  gap: 2rem;

  .scrubberLabel {
    font-size: 1rem;
    color: #ccc;
    text-wrap: nowrap;
  }

  @media screen and (max-width: 841px) {
    gap: 1rem;

    .scrubberLabel {
      font-size: 0.8rem;
    }
  }
}

.scrubberProgress {
  width: 100%;
  height: 0.25rem;
  border-radius: 0.5rem;
  transition: width 0.2s ease-in-out;
}

:is(.scrubberProgress)::-webkit-progress-bar {
  background: #cccccc99;
  border-radius: 0.5rem;
}

:is(.scrubberProgress)::-webkit-progress-value {
  background: #fff;
  border-radius: 0.5rem;
  transition: width 0.3s ease;
}

.isAnimating::-webkit-progress-value {
  transition: none;
}
